@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg:white;
    --textColor:black;
}

.light{
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
  }
.dark{
    --bg: #0f172a;
    --textColor: #ddd;
    --softBg: #1f273a;
    --softTextColor: #a6a6a6;
  }

body{
    background-color: var(--bg);
    color: var(--textColor);
}
.cateText{
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.categoryCard:hover > .cateText{
        width: 100%;
}

.productDesc{

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 3em; /* 2 lines * line-height */

}